.container {
  height: 100vh;            
  display: flex;
  flex-direction: column;     
  justify-content: center;    
  align-items: center;        
}

.kattintas {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
